.wrapper {
    display: flex;
    border-top: 1px solid #999999;
    font-family: Helvetica, Arial, sans-serif;
}

.panel {
    border-right: 1px solid #999999;
    h3 {
        color: #444444;
        font-size: 1em;
        padding: 12px 0;
        background-color: #ededed;
        margin: 0;
        padding-left: 16px;
        border-left: 1px solid #999999;
    }
}

.columns {
    display: flex;
}
