@import '../../styles/mixins';

.column {
    width: 144px;
    border-left: 1px solid #767676;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
        color: #444444;
        font-size: .9em;
    }
}